@model IEnumerable<QRcodeGenerate.Models.MachineModel>
<select id="machine" name="Machine" class="btn" style=" color: #212529; background-color: #f8f9fa; border-color: #f8f9fa;">
    <option value="-1">Выберите станок</option>
    @foreach (var item in Model)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>